/build/
/bin/
/.gradle/

.classpath

*.lock

.gradle/2.13/taskArtifacts/cache.properties.lock

*.bin

.gradle/2.13/taskArtifacts/fileHashes.bin

.settings/org.eclipse.buildship.core.prefs

.gradle/2.13/taskArtifacts/cache.properties.lock

.gradle/2.13/taskArtifacts/taskArtifacts.bin

.project
